@import url("https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap");

:root {
  --offwhite: rgb(214, 201, 201);
  --mug: hwb(26 35% 7%);
  --itsfree: brightness(70%);
  --card-bg: lab(48% 41.18 39.36);
  --card-bg-hover: rgb(150, 60, 20);
}

/* Centered header text */
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--offwhite);
}

#cardlayout,
#s-cardlayout {
  --bs-card-border-width: 0;
  color: var(--offwhite);
  padding: 40px; /* space inside the card */
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  background-color: var(--card-bg);
}

#cardlayout:hover {
  background-color: var(--card-bg-hover); /* dark charcoal */
  color: white; /* invert text for contrast */
}

#s-cardlayout,
#cardlayout p {
  font-size: larger;
  padding: 20px;
}

.cardlayout {
  border: none;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
}

#bgimg {
  background: url("../images/coffeehouse.jpg") center/cover no-repeat;
  height: 300px;
}

.navbar {
  background-color: #000 !important;
  margin-bottom: 15px;
}

.mug {
  color: var(--mug);
  font-size: larger;
}
.itsfree {
  color: var(--itsfree);
  font-weight: bold;
  font-size: large;
}

h1,
h2,
h3 {
  font-family: "Merienda One", "Brush Script MT", cursive;
}

ul, ol {
	padding: 0;
	list-style-type: none;
}

/* Prevent content from hiding behind footer */
main {
  padding-bottom: 90px; /* match footer height */
}

/* Sticky footer always visible */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030; /* keeps it above other elements */
  /*visual styles*/
  background-color: #6f4e37;
  padding: 1em;
  text-align: center;
}
footer span {
  color: silver;
}

footer a {
  color: beige;
  text-decoration: none;
  padding: 0 15px;
  font-size: 0.8rem;
}

footer p {
  color: silver;
}

footer a:hover {
  text-decoration: none;
  color: chocolate;
}

fieldset {
  border: none;
  margin-top: 20px;
}
/* map */
#map {

    width: 100%;
    margin-top: 15px;
    border: 0;
    height: 100%;
    min-height: 100vh;
    	
}
#contact{
  /*placeholder to mark contact section*/
}
#home{
  /*placeholder to mark home section*/
}
#drinks {
	padding: 1rem 0;
	margin-bottom: 80px;
	background: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffee-beans.jpg') center center / cover no-repeat fixed;
}
#coffee-box {
	background-color: brown;
    width: 100%;
    top: 0%;
    left: 15%
}
#tea-box {
	background-color: #6f4e37;
	z-index: 3;
}

#cold-drinks-box {
	background-color: chocolate;
    width: 100%;
    top: 0%;
    left: -15%
}
#reasonsbox {
  background-color: sienna;
  width: 90%;
  top: 20%;
  left: 40%
}
#box-nb {
  border: none;
}